.classe-flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.stile{
    background: aqua;
    padding: 50px;
}

.stile-head{
    color: black;
    font-size: 3em;
    font-weight: bold;
    
}